<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="king.chad.toastersample"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />  

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="king.chad.toaster.sample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="king.chad.toaster.sample.HexcodeSelectorActivity" android:label="Hexcode Color Picker" 
            android:theme="@android:style/Theme.Holo.Light.Dialog">>
            <intent-filter>
                <action android:name="king.chad.toaster.sample.HexcodeSelectorActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="king.chad.toaster.sample.PredefinedColorsActivity" android:label="Predefined Color Selector" 
            android:theme="@android:style/Theme.Holo.Light.Dialog">>
            <intent-filter>
                <action android:name="king.chad.toaster.sample.PredefinedColorsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="king.chad.toaster.sample.ToasterTextActivity" android:label="Toaster Text" 
            android:theme="@android:style/Theme.Holo.Light.Dialog">>
            <intent-filter>
                <action android:name="king.chad.toaster.sample.ToasterTextActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
